{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",  
        "prettier/@typescript-eslint",
        "prettier"
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "prettier/prettier": ["error"],

        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false,
                "argsIgnorePattern": "^_"
            }
        ],
        
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/no-use-before-define": "off",
        
        // Require use of the `import { foo } from "bar";` form instead of `import foo = require("bar");`
        "@typescript-eslint/no-require-imports": [
            "error"
        ]
    }
}